[submodule "scripts/.local/bin/wayback-git"]
	path = scripts/.local/bin/wayback-git
	url = https://github.com/overcast07/wayback-machine-spn-scripts
[submodule "zsh/.config/zsh/ohmyzsh"]
	path = zsh/.config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "scripts/.local/bin/xdg-ninja-git"]
	path = scripts/.local/bin/xdg-ninja-git
	url = https://github.com/b3nj5m1n/xdg-ninja
[submodule "zsh/.config/zsh/ext/zsh-autosuggestions"]
	path = zsh/.config/zsh/ext/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/ext/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/ext/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
