[submodule "scripts/.local/bin/wayback"]
	path = scripts/.local/bin/wayback
	url = https://github.com/overcast07/wayback-machine-spn-scripts
[submodule "zsh/.config/zsh/ohmyzsh"]
	path = zsh/.config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "scripts/.local/bin/xdg-ninja-git"]
	path = scripts/.local/bin/xdg-ninja-git
	url = https://github.com/b3nj5m1n/xdg-ninja
